body, html{
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: hotpink;
}

.container{
  width: 100%;
  height: 100%;
  margin: 0;
}

#root, .root2{
  width: 100%;
  height: 100%;
}

.topbar{
  margin: 0;
  width: 100%;
  height: 10%;
  background-color: cyan;
}

.logo{
  height: 100%;
  margin: 0;
  float: left;
  background-color: red;
}

.userIconTopBar{
  height: 100%;
  margin: 0;
  float: right;
  background-color: limegreen;
}
